# global stuff
*~
.DS_Store

tmp/
build/
dist/

__pycache__
*.egg-info

.ipynb_checkpoints/
task.conf
dask-worker-space
dask-report.html

# preprocessing / averaging specific things
*.tar
*.png
*.svg

*.err
*.out

tave.o*
tave.e*

aved.o*
aved.e*
